.nav-bar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 100;
  .nav-bar {
    height: 20vh;
    .header-logo {
      width: 10rem;
    }
    &-list-items {
      &-row {
        padding-left: 1rem;
        padding-right: 1rem;
        .nav-bar-list-items-col {
          display: flex;
          align-items: center;
          &:hover {
            background-color: gray;
            cursor: pointer;
          }
        }
      }
    }
  }
}
