.nav-bar-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  z-index: 100;
  .nav-bar {
    height: 20vh;
    .header-logo {
      width: 7rem;
    }
    &-list-items {
      &-row {
        padding-left: 1rem;
        padding-right: 1rem;
        .nav-bar-list-items-col {
          display: flex;
          align-items: center;
          text-decoration: none;
          &:hover {
            background-color: gray;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.menu-btn {
  display: none !important;
}

.mobile-nav-bar-list-items-col {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  &:hover {
    background-color: gray;
    cursor: pointer;
  }
}

@media screen and (max-width: 950px) {
  .logout-btn {
    display: none !important;
  }
  .menu-btn {
    display: flex !important;
  }
  .nav-bar-list-items {
    display: none;
  }
  .mobile-menu-btn {
    display: none !important;
  }
}
